main{
    border: 2px solid blue;
    width: 640px;
    height: 480px;
    margin:20px 0px 20px 0px;
    margin: auto;   
}
img{
    width: 200px;
    height: 200px;
    position:sticky;
    top: 60px;
    left: 120px;  
    cursor: pointer;  
}

footer{
    height: 600px;
}
header{
    border: 2px solid blue;
}

p{
    border: 2px solid red; 
}
span{
    border: 2px solid green; 
}
div{
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
    margin-left: 10px;    
}


#primeiro{
    color: gray;
}

.segundo{
    color: yellow;
}