*{
    box-sizing: border-box;
}
.menu {
    width: 25%;
    float: left;
    border: 1px solid black;
    padding: 15px;
  }
  .main {
    width: 75%;
    float: left;
    border: 1px solid black;
    padding: 15px;
  }